// Font
$mainFont: "Yanone Kaffeesatz", sans-serif;

// font-size
$fz1: 14px;
$fz2: 18px;
$fz3: 24px;
$fz4: 36px;
$fzTitle: 40px;
$fzTitleLg: 90px;

// font-weight
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;

// letter-spacing
$ls1: 0.15em;

// line-height
$mainLineHeight: 1.2;

// sizes
$smPhoneWidth: 320px;
$tablet: 768px;
$smDesktopWidth: 980px;
$desktopWidth: 1320px;
$lgDesktopWidth: 1920px;

// color
$bgOrange: #E48F20;
$bgDark: #EAEFF3;
$titleOrange: #F5730D;
$titleMainOrange: #883C00;
$labelNew: #D61969;
$cardColor: #F2F4F5;
$textGrayLight: #bec6cd;
$textGrayDark: #76818B;



