.about{
  padding-bottom: 30px;
  & .container{
    @extend %flex-column;
  }
  & .main__pic{
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
    box-shadow: 0px 15px 35px rgba(118, 129, 139, 0.25);
    height: 0;
    padding-top: 100%;

    & picture{
      display: block;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
    }
    & img{
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
    @media (min-width: $smDesktopWidth){
      margin-bottom: 60px;
      padding-top: 32%;
    }
  }
  & .content{
    & p.text{
      font-weight: 400;
      font-size: $fz2;
      letter-spacing: 1.15px;
      line-height: 1.2;
      @media (min-width: $smDesktopWidth) {
        column-count: 2;
        letter-spacing: 1.3px;
        line-height: 1.1;
        font-size: $fz3;
        -webkit-column-gap: 40px;
        -moz-column-gap: 40px;
        column-gap: 40px;
      }
    }
    @media (min-width: $desktopWidth) {
      margin-bottom: 60px;
    }
  }

  @media (min-width: $smDesktopWidth){
    padding-bottom: 100px;
  }
}