.is-transitioning{
  pointer-events: none;
  cursor: progress;
}
.is-loading .wrapper {
  display: none;
}

.loader,
.loader__content {
  min-height: 100vh;
  position: fixed;
  flex-direction: column;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  visibility: hidden;
}
.loader__mask {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: $cardColor url('../img/logo-black.svg') no-repeat center;
  background-size: 155px 155px;
}

.loader .inner,
.loader__content .inner {
  width: 50vw;
  height: 50vh;
  @media (min-width: $desktopWidth) {
    width: 27.36vw;
  }
}

.loader .inner {
  background-color: $bgOrange;
  position: relative;
}

.loader .progress {
  background-color: #a3abb1;
  position: absolute;
  left: 0;
  top: 0;
  width: 50vw;
  height: 50vh;
  @media (min-width: $desktopWidth) {
    width: 27.36vw;
  }
}

.loader__content {
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.loader__title {
  font-size: 7vw;
  line-height: 8vw;
  margin: 0;
  color: #ffffff;
  font-weight: normal;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.loader__image {
  width: 100%;
  padding-bottom: 50vh;
  overflow: hidden;
  position: relative;
}

.loader__image img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: 50% 50%;
  opacity: 1;
}

.loader__title--mask {
  overflow: hidden;
}

.loader__title--mask span {
  display: block;
}

.loader__image--mask {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
}

.loader__title--mask {
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}

